@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h-content-area {
    height: calc(100vh - theme('spacing.16'));
  }
  .tight-container {
    width: 100%;
    max-width: 800px;
  }
}
